# Puerto del servidor
PORT=5000

# Base de datos
DB_HOST=tu_host
DB_PORT=5432
DB_NAME=tu_base
DB_USER=tu_usuario
DB_PASSWORD=tu_password

# Entorno
ASPNETCORE_ENVIRONMENT=Development


#SUPABASE(VARIABLES DE ENTORNO)
SUPABASE_URL=https://clidtgxeiqodwuomoxjp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNsaWR0Z3hlaXFvZHd1b21veGpwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MTczMzgsImV4cCI6MjA5MzA5MzMzOH0.dHy1fRcDufRVK65vQXthtIpN-v2dOp3MQh5ZpPCGikI


